
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
    <nav class="col-md-2 d-md-block sidebar ">
    <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <!-- your image -->
    <li class="nav-item">
    <div class="avatar mx-auto white p-4">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1 rounded-circle"
        alt="Responsive image">
  
    </div>
    
    </li>
    <!-- your name -->
    <li class="nav-item text-center name">
        {{userDataDatails[0].username}}
    </li>
    <!-- your email -->
    <li class="nav-item text-center">
        {{userDataDatails[0].email}}
    </li>
    <!-- your phone -->
    <li class="nav-item text-center">
        {{userDataDatails[0].phoneNumber}}
    </li>
    <!-- your city -->
    <li class="nav-item text-center">
        {{userDataDatails[0].city}}
    </li>
    <!-- Calling SignOut() Api from AuthService -->
    <li class="nav-item fixed-bottom">
    <a class="nav-link" (click)="SignOut()">
    <i class="fas fa-sign-out-alt"></i>Log out
    </a>
    </li>
    </ul>
    </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <!--  -->
    </main>
    </div>
    </div>