.forgetDesign{
    width: 50%;
    height: 50%;
    margin: auto ;
    text-align: center;
    background-color:rgb(248,248,248);
     margin-top: 148px;
}
.form-control{
    width: 60%;
    margin: 0 auto;
}
.btn{
    background-color: #FFB33A;
    color: white;
    border: none;
    margin-bottom: 10px;
    padding: 7px 22px; 
}
.btn:hover{
    background:#f1cc50;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
.header{
    color: #06AED5;
}
