body{
    margin: 0px;
    padding: 0px;
    background-color:#e2e6ea;
   
}
.sign-up{
   background-color: white;
   width: 100%;
   padding: 0px
}
.signupbtn{
    background-color: #FFB33A;
    color: white;
    border: none;
    margin-bottom: 10px;
    padding: 7px 22px; 
}
.signupbtn:hover{
    background:#f1cc50;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.text-color{
    color: #606066;
    font-weight: bold
}
.stylefont{
    padding: 0px 15px;
    height:540px;
    overflow-y:auto
}
label{
    font-size: 14px;
}
.headercolor{
    color: #06AED5;
}

.bg{
    background: linear-gradient(rgba(121, 196, 231,0.8), rgba(121, 196, 231,0.8)), url("../../../../assets/images/signup/doctornursechild.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: auto; */
}
.header-style{
    color: white;
   
}
.row{
    margin-left: 0px;
    margin-right: 0px
}
.pl-5, .px-5 {
    padding-left: 6rem!important;
}

/* social media */
.fb {
    color: #3B5998;
    font-size: 25px
  }
  .google {
   color: #dd4b39;
   font-size: 25px
  }
.style-btn{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none
}  
.center{
    text-align: -webkit-center;
  }
.btn-login{
    width: 45%;
  }
.normal-font{
    font-weight: normal;
}
.stylefont{
    font-weight: bold;
    color:#606066
}
.cursor{
    cursor: pointer;
}
@media only screen and (max-width: 576px) {
    .d-sm-none {
        display: none !important;
      }
}
.redcolor{
    color: red;
}
@media only screen and (max-width: 576px) {
    .d-sm-none {
        display: none ;
      }
}