<div class="row no-gutters"  [style.height.px]="myInnerHeight">
    <div class="col-md-6 d-sm-none d-md-block  justify-content-sm-between bg p-1">    
    </div>
    
    <div class="col-md-6 p-2">
  
       
        <form (ngSubmit)="onSignIn(userForm)" #userForm="ngForm" class="stylefont ">
                <h2 class="mb-3 headercolor text-center">Sign in</h2>    
            <!-- email -->
            <div class="form-group row">
                <label for="email" class="text-color col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <div class="md-form mt-0">
                        <input type="email" #email="ngModel" id="email" name="email" class="form-control col-sm-10" [(ngModel)]=userModel.email required
                        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [class.is-invalid]="email.invalid && email.touched">
                        <div *ngIf="email.errors && (email.invalid && email.touched)" >
                            <small class="text-danger normal-font " *ngIf="email.errors.required">email is required</small>
                            <small class="text-danger normal-font " *ngIf="email.errors.pattern">email is invalid</small>

                        </div>
                    </div>
                </div>
            </div>    
            <!-- password -->
           
            <div class="form-group row">
                    <label for="password" class="text-color col-sm-2">Password</label>
                    <div class="col-sm-10">
                        <div class="md-form">
                            <input type="password" #password="ngModel" id="password" name="password"  class="form-control col-sm-10" [(ngModel)]=userModel.password required
                            maxlength="12" minlength="6" [class.is-invalid]="password.invalid && password.touched" aria-describedby="passwordHelpInline" >
                            
                            <div *ngIf="password.errors && (password.invalid && password.touched)">
                                <div *ngIf="password.errors.required " class="normal-font  text-danger"> <small>Password is required</small></div>
                                <div *ngIf="password.errors.minlength" class="normal-font text-danger"><small> must be at least 6 characters</small></div>
                                <div *ngIf="password.errors.maxlength" class="normal-font text-danger"><small> must be  12 characters or less</small></div>
                            
                            </div>
                        </div>
                     </div>
            </div>
            <div class="forgotPassword pl-5 mb-3">
                <a routerLink="/forgot-password"><small>Forgot Password?</small></a>
            </div>
            <div class="text-center">    
            <button class="signupbtn btn btn-primary center-block mb-5" type="submit" [disabled]="userForm.form.invalid">sign in</button>
            </div>
            <!-- <button class=" btn btnSignUp mx-3 mb-2" type="submit" routerLink="/signup" >sign up</button> -->
            <!-- <h4 ngIf="flag">{{errorMsg}}</h4> -->
        <!-- social media -->
            
               <div class="text-center center mb-3 or "> 
                  <span  class="stylefont orInner">OR sign in with</span>
                </div>

                  <!-- <button  class="google btn style-btn btn-login" (click)="GoogleAuth()"><i class="fab fa-google-plus-g" style="color: white"></i>
                   Login with Google+
                  </button>
                  <button class="fb btn style-btn btn btn-login ml-5" (click)="FacebookAuth()">
                        <i class="fab fa-facebook-f "></i> Login with Facebook
                    </button> -->
                    <div class="text-center pb-5">
                         <a (click)="GoogleAuth()" class="pr-3 "><i class="fab fa-google-plus google"></i></a>
                         <a (click)="FacebookAuth()" class=""><i class="fab fa-facebook fb"></i></a> 
                    </div>
                  
                <div class="redirectToLogin text-center ">
                    <small class="">Don't have an account?<a class="redirect" routerLink="/signup"> Sign Up</a></small>
                </div>
                 


        </form>
    </div>
    </div>



