@import '../../../assets/sass/global/variables' ;
p{
    margin: 0;
}

.page{

    // background-image: linear-gradient(to right,   $pricolor, rgb(42, 82, 152));
background-color: $pricolor;
    border: 1px solid grey;
   margin-top: 100px;
    width: 100%;
    height: auto;
    padding-top: 30px;
    transition: all 0.5s ease-in-out;
  #header{
    //   background-image: linear-gradient(to right,   $pricolor, rgb(42, 82, 152));
    background-color: $pricolor;
        color: white;
        font-size: 2.1rem;
        font-weight: bold;
       
        height: 100px;
        text-align: center;
        font-weight: bold;

    margin-right: 7px;
        }
    }
    div P:nth-of-type(2){
        color: $txtcolor;
        color: rgb(241, 239, 239);
      
font-size: 1.2rem;
    }

#doc{
     
    padding: 10px;
    .doc{
        background-color: white;
        width: 100%;
        height: auto;
        display: flex;
        padding: 10px;
         border-radius: 2px;
        margin-bottom: 10px;
      .img{
          width: 20%;
        
          margin-right: 10px;
          height: auto;
        img{
            width: 100%;
          display: inline-block;
          border-radius: 6px;
            height: auto;
        }
      } 
      p{
font-size: 1rem;
color: #a4a1a0;
font-weight: bold;
    } 
        p:nth-of-type(1){
            display: inline-block;
            font-size: 1.25rem;
            color: $txtcolor;
            font-size: 1.2rem;
            font-weight: bold;
            
    margin-bottom: 5px;
        }
       
    }

    .detail{
        background-color: white;
        padding: 10px;
        border-radius: 2px;
        h2{
            font-size: 1.3rem;
            color: $txtcolor;
            font-weight: bold;  
        }
      
       
    }
     
}
.docdate div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
                p{
                    color: #606066;
    font-weight: bold;
    font-size: 1.05rem;
    letter-spacing: 0.7px;
    width: 117px;
                    i{
                        padding-right: 5px;
                        color: $yellowcolor;
                        font-size: 1rem;
                    }
                }
    
    button{
        background-color: $yellowcolor;
 
        padding: 4px 22px;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    &:hover{
        background-color: $seccolor
    }
    }
            }
        .empty{
            a{
                cursor: pointer;
                color: $yellowcolor;
                font-size: 1.2rem;
                padding: 0px 5px;
                border-radius: 20px;
                font-weight: bold;

            
                &:hover{
                    color: rgb(255, 208, 0);
                    text-decoration: none;
                }
            }
        }
        //=================mediaquey====================
        @media only screen and (max-width: 922px) and(min-width:600px) {

.page{
    margin-top: 0px
   

}





        }
        @media only screen and (max-width: 600) and(min-width:300px) {

            .page{
                margin-top: 0px
               
            
            }

        }