<div class=" row no-gutters" [style.height.px]="myInnerHeight">
    <div class="col-md-6 d-sm-none d-md-block  justify-content-sm-between bg p-1" >    
    </div>        

<div class="col-md-6 bgw" >
<div class="col-sm-10 col-md-12 col-sm-offset-2  sign-up" >
    <h3 class="mb-3 headercolor text-center" >Sign up</h3>
    <form (ngSubmit)="onSignUp(userForm)" #userForm="ngForm" class="stylefont pl-5" autocomplete="off" novalidate>
        <!-- name -->
        <div class="form-group row">
                <label for="name" class="text-color col-sm-2"> 
                        <span class="redcolor">*</span>Name</label>
                <div class="col-sm-10">
                    <div class="md-form mt-0">
                        <input  type="text" #name="ngModel" id="name" name="name" class="form-control " [(ngModel)]=userModel.name 
                        required [class.is-invalid]="name.invalid && name.touched">
                        <small [class.d-none]="name.valid || name.untouched" class="text-danger normal-font col-offset-12">Name is required</small>
                    </div>
            </div>
        </div>
        <!-- email -->
        <div class="form-group row">

            <label for="email" class="text-color col-sm-2">
                    <span class="redcolor">*</span>Email</label>
            <div class="col-sm-10">
                <div class="md-form mt-0">
                    <input type="email" #email="ngModel" id="email" name="email" class="form-control " [(ngModel)]=userModel.email required
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [class.is-invalid]="email.invalid && email.touched">
                    <div *ngIf="email.errors && (email.invalid && email.touched)" >
                    <small class="text-danger normal-font" *ngIf="email.errors.required">Email is required</small>
                    <small class="text-danger normal-font" *ngIf="email.errors.pattern">Email is invalid</small>
                </div>
            </div>

            </div>
        </div>
        <!-- password -->
        <div class="form-group row">
            <label for="password" class="text-color col-sm-2">
                    <span class="redcolor">*</span>Password</label>
            <div class="col-sm-10">
                <div class="md-form mt-0">
                    <input type="password" #password="ngModel" id="password" name="password"  class="form-control" [(ngModel)]=userModel.password required
                   minlength="8" [class.is-invalid]="password.invalid && password.touched" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]+$">
                    <div *ngIf="password.errors && (password.invalid && password.touched)">
                        <div *ngIf="password.errors.required" class="normal-font"> <small class="text-danger">Your Password is required</small></div>
                        <div *ngIf="password.errors.minlength" class="normal-font"><small class="text-danger">Your Password must be at least 8 characters</small></div>
                        <small class="text-danger normal-font" *ngIf="password.errors.pattern">Your password must contain at least one uppercase, one lowercase, and one number</small>
                </div>
            </div>
             </div>
        </div>
  
        <!-- uploadimage -->
         <div class="form-group row">
            <label for="image" class="text-color col-sm-3">Upload your image</label>
                <div class="col-sm-9">
                    <div class="md-form mt-0">
                        <input type="file" #image="ngModel" id="image" name="image"  class="form-control" [(ngModel)]=userModel.image  accept=".png,.jpg" (change)="upload($event)" >
                        <progress max="100" [value]="(uploadProgress | async)" class="loading">
                        
                        </progress>
                        <!-- <div class="result" *ngIf="uploadURL | async; let uploadSrc">
                        <a [href]="uploadSrc">You just uploaded this file!</a>
                        </div> -->
                    </div>
                </div>
        </div> 
      
                  

        <!-- mobile -->
        <div class="form-group row">
                <label for="phone" class="text-color col-sm-2"> <span class="redcolor">*</span>Phone</label>
                <div class="col-sm-10">
                    <div class="md-form mt-0">
                        <input type="tel" #phone="ngModel" id="phone" name="phone"  class="form-control" [(ngModel)]=userModel.phone 
                        pattern="^[0][0-9]{10}" 
                        required [class.is-invalid]="phone.invalid && phone.touched ">
                        <div *ngIf="phone.errors && (phone.invalid && phone.touched)">
                            <small class="text-danger normal-font" *ngIf="phone.errors.required">Phone number is required</small>
                            <small class="text-danger normal-font" *ngIf="phone.errors.pattern">Phone number must be start with 0 then 10 numbers</small>
                        </div>
                    </div>
                </div>
        </div>
        <!-- city -->
        
        <div class="form-group row" >
            <label for="city" class="text-color col-sm-2"> city</label>
            <div class="col-sm-10">
                 <div class="md-form mt-0">
                    <select class="browser-default custom-select" name="city" [(ngModel)]=userModel.city  >
                        <option selected>I'm staying in</option>
                        <option *ngFor="let city of cities">{{city}}</option>
                    </select>
                 </div>
            </div>
        </div>
        <!-- gender -->
        <div class="mb-3 row">
            <label class="text-color col-sm-2">Gender</label>
            <div class="row ml-3">
            <div class="form-check col-sm-6">
                <input class="form-check-input col-sm-4"  #gender="ngModel" type="radio" name="gender" value="Male" [(ngModel)]=userModel.gender required
                [class.is-invalid]="gender.invalid && gender.touched">
                <small class="form-check-label" >Male</small>
                <span [class.d-none]="gender.valid || gender.untouched" class="text-danger normal-font">Gender is required</span>
            </div>
            <div class="form-check col-sm-6">
                    <input class="form-check-input col-sm-4" #gender="ngModel" type="radio" name="gender" value="Female" [(ngModel)]=userModel.gender required
                    [class.is-invalid]="gender.invalid && gender.touched">
                    <small class="form-check-label">Female</small>
                    <span [class.d-none]="gender.valid || gender.untouched" class="text-danger">Gender is required</span>
            </div>
        </div>
        </div>
        <!-- birth date -->
        <div class="form-group row">
            <label for="birthdate" class="text-color col-sm-2">BirthDate</label>
                <div class="col-sm-10">
                    <div class="md-form mt-0">
                        <input type="date" #date="ngModel" id="birthdate" name="date"  class="form-control" [(ngModel)]=userModel.date >
                    </div>
                </div>
        </div>
        
        <!-- password -->
       
        <div class="text-center mb-4">
            <button class="signupbtn btn btn-primary center-block mb-1 pointer" type="submit" [disabled]="userForm.form.invalid">sign up

                <div id="loading" class="lds-ring"><div></div><div></div><div></div><div></div></div>



        </button>        </div>
        <!-- <div class="text-center center mb-3"> 
            <span class="stylefont">OR sign up with</span>
          </div>
    
        
            <button class="fb btn style-btn btn btn-login mr-5" (click)="FacebookAuth()">
              <i class="fab fa-facebook-f "></i> Login with Facebook
            </button>
            
            <button  class="google btn style-btn btn-login" (click)="GoogleAuth()"><i class="fab fa-google-plus-g"></i>
             Login with Google+
            </button> -->
            <!-- <div class="text-center center mb-2 or "> 
                <span  class="stylefont orInner">Or sign up with</span>
            </div>
            <div class="text-center "> -->
                <!-- <a (click)="GoogleAuth()" class="pr-3 "><i class="fab fa-google-plus google"></i></a> -->
                <!-- <a (click)="FacebookAuth()" class="pointer "><i class="fab fa-facebook fb"></i></a> 
           </div>
            -->


    </form>
</div>
</div>



</div>