<div class="page">




  <div class="success-checkmark">
    <div class="check-icon">
      <span class="icon-line line-tip"></span>
      <span class="icon-line line-long"></span>
      <div class="icon-circle"></div>
      <div class="icon-fix"></div>
    </div>
  </div>
  <div class="text">
  <p>Thank you!</p>
  <p>You have booked your visit successfuly, check your profile for our booking confirmation...  </p>
  </div>
  <div id="btn">
  <button routerLink="/side/home/dashboard"><i style="margin-right: 5px;"  class="fas fa-user"></i>Profile </button>
  </div>
  </div>