<div class="displayTable row no-gutters">
  <div class="displayTableCell h-100 forgetDesign justify-content-center align-items-center p-5">
  <div class="authBlock">
  <h3>Thank You for Registering</h3>
  <!-- <div class="formGroup" *ngIf="userData as user">
  <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
  <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
  </div> -->
  <!-- Calling SendVerificationMail() method using authService Api -->
  <div class="formGroup">
  <button type="button" class="btn btnPrimary" (click)="SendVerificationMail()">
  <i class="fas fa-redo-alt"></i>
  Resend Verification Email
  </button>
  </div>
  </div>
  <div class="redirectToLogin">
  <small>Go back to?<a class="redirect" routerLink="/signin"> Sign in</a></small>
  </div>
  </div>
  </div>