<div class="page">
  <div class="conatiner">
    <div class="row">
      <h2 class="text-center">Choose your doctor</h2>
    </div>
  </div>
<section id="search">
<!-- Search form -->
<div class="container">
  <div class="row">

      <div class="md-form active-pink active-pink-2 mb-3 mt-0 col-sm-12 col-md-6 offset-md-3">
          <input class="form-control " type="text" placeholder="Search" aria-label="Search">
        </div>
  </div>
</div>

</section>

<!-- cards of doctors -->
<section class="doctors">
<div class="container">
  <div class="row">

      <div class="card" *ngFor="let doctor of doctors" >
        
          <div class="card-body">
            <img class="img-fluid rounded" src={{doctor.src}}>
            <div class="card-txt">
                <h5 class="card-title">{{doctor.name}}</h5>
                <div>
                <p class="card-text">{{doctor.title}}</p>
                <div id="rating">
<div class="star full"></div>
<div class="star full"></div>
<div class="star full"></div>
<div class="star"></div>
<div class="star"></div>
<div class="star"></div>


                </div>
                <button routerLink="/calendar" class="btn btn-primary col-sm-12">Book</button>
              </div>
            </div>
          
        </div>
      </div>






  </div>
</div>





</section>











































  </div>
