@import '../../../assets/sass/global/variables' ;
.page{
// background-color: $greycolor;
width: 98vw;
height: 100vh;
padding-top: 100px;
font-family: sans;
h2{
    width: 100%;
    margin-bottom: 50px;
    font-weight: bold;
}
}

#search{
margin-bottom: 100px;
position: relative;
border-radius: 20px;
.form-control{
    background-color: white;
    border-radius: 25px;
border: none;
padding: 15px;
margin-bottom: 40px;


}
button#search{
    background-color: white;
    color: gray;
    font-size: 19px;
    position: absolute;
    top: 12px;
    float: right;
    cursor: pointer;
    right: 28px;
    cursor: pointer;
    &:hover{
        color: $pricolor;
    }
}
}
.doctor{
    height: auto;
    background-color:white;
    border: 0.5px solid gray;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
        .item_doctor{
        display: flex;
    }
.img{
    width: 22%;
    margin-right: 10px;
    img{
       width: 100%;
       height: auto;
    }
}
.item_doctor_txt{
    width:40%;
    h5{
        font-weight: bold;
        color: $txtcolor;
        font-size: 1rem;
        margin-bottom: 5px;
    }
    i{
        color:$pricolor;
        margin-right:5px;
        font-size: 12px;
        
    }
    p{
        color: #7c7c85;
        font-size: 0.9rem;
        margin: 0;
    }
}
button.book{
    padding: 12px 36px;
    height: 46px;
    color: white;
    background-color: $yellowcolor;
    transform: translate(50%,140%);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
    &:hover{
        background-color: #ffc60b;
        color: aliceblue;
     
        box-shadow: 0px 3px 8px rgba(0,0,0,0.25);

    }
}
}































 #rating{
font-size: 20px;
display: inline-flex;
& > .star::after{
    content: '\f005';
    color:#7777;
    font-family: FontAwesome;
    cursor: pointer;
}
& > .star.full::after{
    content: '\f005';
    color:rgb(253, 238, 29);

}





    
 
}