@import '../../assets/sass/global/variables' ;
*{
    border:none;

}

#mainpg{
    width: 1742px;
    height: 771px;;
    background-color: $pricolor;
    font-family: "sans";
.choose{
    width:70%;
    height: 600px;
    margin: 0 auto;
  padding-top: 12rem;

    h1{
        text-align: center;
        color: white;
        
    }
    
}
}
.btns{
    width: 50rem;
    margin: 12rem auto;
    button{
            background-color: #FBDD40;
            padding: 15px 49px;
    color: white;
    border-radius: 11px;
    font-size: 2.2rem;
    &:hover,&:focus{
        background-color: rgb(209, 185, 67);
        animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
    }

   &:nth-of-type(2){
       margin-left: 12rem;
       i{
          color: white
       }
   }
   &:nth-child(1){
    background-color: white;
    color: $pricolor;
    i{
        color:$pricolor
    }
   }
 
       
       
        
       
    }
}
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 ; }
  }





